<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<div class="nav" style="text-align:center; float:right">
    <a href="portfolio.html">Home</a>
    <a href="about.html">About</a>
    <a href="">Projects</a>
</div>

<h2>Our Projects</h2>
<p>Below is a list of our projects:</p>
<ul>
  <li>Web Application Project</li>
  <li>Mobile Application Projects</li>
  <li>Iot Projects</li>
  <li>Machine Learning Projects</li>
</ul>

</body>
</html>